body {
    padding-top: 50px;
    color: #70838d;
    background-color: rgb(229, 234, 238);
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.section-title {
    border-bottom: 2px solid rgba(42, 62, 79, 0.4);
    color: #2a3e4f;
}

.entity-title {
    /*border-bottom: 2px solid #57c4d0;*/
}

.navbar-default {
    background-color: rgb(242, 244, 246);
    border-color: rgb(202, 209, 216);
}

.jumbotron {
    background-color: transparent;
}

label {
    color: #2a3e4f;
}

select.form-control {
    color: #7d8995;
}

.btn {
    border-radius: 3px;
}

.btn-action {
    min-width: 148px;
}

.btn-default {
    background-color: rgb(242, 244, 246);
}

.btn-default:hover {
    background-color: white;
}

.btn-default.focus, .btn-default:focus {
    background-color: #white;
}

.btn-default.active, .btn-default:active {
    /**/
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover,
.btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover {
    /**/
}

.btn-primary {
    color: #ffffff;
    background-color: #bb0025;
    border-color: transparent;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #e0002d;
    border-color: transparent;
}

.btn-primary.focus, .btn-primary:focus {
    color: #ffffff;
    background-color: #e0002d;
    border-color: #660014;
}

.btn-primary.active, .btn-primary:active {
    color: #ffffff;
    background-color: #8f001d;
    border-color: #660014;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover,
.btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover {
    color: #ffffff;
    background-color: #8f001d;
    border-color: #660014;
}

.panel-default {
    border-radius: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}

.panel-default > .panel-heading {
    color: #2a3e4f;
    background-color: transparent;
    border-color: transparent;
}

.panel-title {
    text-transform: uppercase;
    font-weight: bold;
}

.form-control {
    color: #70838d;
}

.industry-probability {
    font-weight: bold;
}

.industry-label {
    text-transform: uppercase;
    font-weight: lighter;
}

.list-group-item {
    text-transform: uppercase;
    border-color: rgba(42, 62, 79, 0.2);
    border-left-color: transparent;
    border-right-color: transparent;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0px;
}

.badge {
    font-size: 14px;
    border: none;
    color: #70838d;
    background-color: transparent;
    font-weight: normal;
}

/* Analysis data response markup styles. */

/* TODO: Replace with classes. Do not use inline styling. */
/*mix-blend-mode: overlay;*/


/*
times: {group: "contexts", label: "Times"},
holidays: {group: "contexts", label: "Holidays"},
*/

.highlighted-text > span {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
}

/* Red. */
span[title~="PRODUCTVERSION/"], span[title~="PRODUCTVERSION"],
span[title~="PRODUCTTYPE/"], span[title~="PRODUCTTYPE"],
span[title~="PRODUCTMODEL/"], span[title~="PRODUCTMODEL"],
span[title~="MEASURE/"], span[title~="MEASURE"],
span[title~="FEATURE/"], span[title~="FEATURE"] {
    color: rgb(218, 78, 46) !important;
    background-color: rgb(253, 220, 206) !important;
}

/* Green. */
span[title~="LOCATION/"], span[title~="LOCATION"],
span[title~="INDUSTRY/"], span[title~="INDUSTRY"],
span[title~="DATE/"], span[title~="DATE"],
span[title~="TIME/"], span[title~="TIME"],
span[title~="HOLIDAY/"], span[title~="HOLIDAY"] {
    color: rgb(45, 186, 140) !important;
    background-color: rgb(208, 242, 235) !important;
}

/* Blue. */
span[title~="BRAND/"], span[title~="BRAND"] {
    color: rgb(33, 172, 244) !important;
    background-color: rgb(189, 240, 252) !important;
}

/* Purple. */
span[title~="DOCUMENT/"], span[title~="DOCUMENT"],
span[title~="LAW/"], span[title~="LAW"] {
    color: rgb(112, 85, 221) !important;
    background-color: rgb(220, 212, 247) !important;
}

/* Yellow. */
span[title~="PERSON/"], span[title~="PERSON"],
span[title~="BODYPART/"], span[title~="BODYPART"] {
    color: #B8B800 !important;
    background-color: rgb(255, 255, 153) !important;
}
