body {
    padding-top: 50px;
    color: #2a3e4f;
    background-color: rgb(229, 234, 238);
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.show-grid {
    margin-bottom: 15px;
}

.container-under-navbar {
    padding-top: 60px;
}

.section-title {
    border-bottom: 2px solid rgba(42, 62, 79, 0.4);
    padding-bottom: 5px;
}

.section-body {
    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
}

.text-section {
    font-size: 20px;
}

.entity-title {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-default {
    background-color: rgb(242, 244, 246);
    border-color: rgb(202, 209, 216);
}

.navbar-brand > img {
    margin-top: -5px;
}

.btn {
    border-radius: 3px;
}

.btn-action {
    min-width: 148px;
}

.btn-default {
    background-color: rgb(242, 244, 246);
}

.btn-default:hover {
    background-color: white;
}

.btn-default.focus, .btn-default:focus {
    background-color: white;
}

.btn-default.active, .btn-default:active {
    /**/
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover,
.btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover {
    /**/
}

.btn-primary {
    color: #ffffff;
    background-color: #bb0025;
    border-color: transparent;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #e0002d;
    border-color: transparent;
}

.btn-primary.focus, .btn-primary:focus {
    color: #ffffff;
    background-color: #e0002d;
    border-color: #660014;
}

.btn-primary.active, .btn-primary:active {
    color: #ffffff;
    background-color: #8f001d;
    border-color: #660014;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover,
.btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover {
    color: #ffffff;
    background-color: #8f001d;
    border-color: #660014;
}

.panel-default {
    color: #70838d;
    border-radius: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}

.panel-entity-group {
    border-left-width: 5px;
    border-top: none;
    border-bottom: none;
}

.panel-default > .panel-heading {
    color: #70838d;
    background-color: transparent;
    border-color: transparent;
}

.panel-title {
    text-transform: uppercase;
    font-weight: bold;
    color: inherit;
    margin-top: 5px;
}

.form-control {
    color: #70838d;
    -webkit-box-shadow: none;
    box-shadow: none;
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;

    border-color: transparent;
    padding-right: 30px;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: white;
    background-image: url('../img/arrow-down.svg');
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

text-area.form-control {
    border-color: #dee2e5;
    border-radius: 3px;
}

.industries {
    padding-left: 5px;
    padding-right: 5px;
}

.industry-probability, .sentiments-probability {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.industry-label, .sentiments-label {
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 30px;
}

.sentiments-label-positive {
    color: #1CA861;
}

.sentiments-label-negative {
    color: #AB001C;
}

.list-group-item {
    border-color: rgba(42, 62, 79, 0.2);
    border-left-color: transparent;
    border-right-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0px;
}

.badge {
    font-size: 14px;
    border: none;
    color: #70838d;
    background-color: transparent;
    font-weight: normal;
}

.disabling-overlay {
     position: fixed;
     z-index: 9999;
     width: 100%;
     height: 100%;
     text-align: center;
     top: 0;
     left: 0;
     background: rgba(255, 255, 255, 0.7);
}

.sentiment-analysis {
    padding-left: 15px;
    padding-right: 15px;
}

/*
    Rotating glyphicon styles (loading indicator).
*/

.spinner:after {
    display: inline-block;

    height: 13px;
    width: 13px;
    margin-left: 10px;
    padding: 0;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    content: '';

    -webkit-animation: spin 0.8s infinite linear;
    -moz-animation: spin 0.8s infinite linear;
    -o-animation: spin 0.8s infinite linear;
    animation: spin 0.8s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/*
    Analysis data response markup styles.
*/

.highlighted-text {
    /*margin-bottom: 20px;*/
    line-height: 30px;
}

.highlighted-text > span {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
    white-space: nowrap;
}

/* Red. */
/*
span[title~="PRODUCTVERSION/"], span[title~="PRODUCTVERSION"],
span[title~="PRODUCTTYPE/"], span[title~="PRODUCTTYPE"],
span[title~="PRODUCTMODEL/"], span[title~="PRODUCTMODEL"],
span[title~="MEASURE/"], span[title~="MEASURE"],
span[title~="FEATURE/"], span[title~="FEATURE"] {
    color: rgb(218, 78, 46) !important;
    background-color: rgb(253, 220, 206) !important;
}
*/

/* Green. */
/*
span[title~="LOCATION/"], span[title~="LOCATION"],
span[title~="INDUSTRY/"], span[title~="INDUSTRY"],
span[title~="DATE/"], span[title~="DATE"],
span[title~="TIME/"], span[title~="TIME"],
span[title~="HOLIDAY/"], span[title~="HOLIDAY"] {
    color: rgb(45, 186, 140) !important;
    background-color: rgb(208, 242, 235) !important;
}
*/

/* Blue. */
/*
span[title~="BRAND/"], span[title~="BRAND"] {
    color: rgb(33, 172, 244) !important;
    background-color: rgb(189, 240, 252) !important;
}
*/

/* Purple. */
/*
span[title~="DOCUMENT/"], span[title~="DOCUMENT"],
span[title~="LAW/"], span[title~="LAW"] {
    color: rgb(112, 85, 221) !important;
    background-color: rgb(220, 212, 247) !important;
}
*/

/* Yellow. */
/*
span[title~="PERSON/"], span[title~="PERSON"],
span[title~="BODYPART/"], span[title~="BODYPART"] {
    color: #B8B800 !important;
    background-color: rgb(255, 255, 153) !important;
}
*/

/*
    Media.
*/

/* xs */
@media (max-width: 767px) {
  .pull-right-xs {
      float: right;
  }
}

/* sm */
@media (min-width: 768px) and (max-width:991px) {
  .pull-right-sm {
      float: right;
  }
}

/* md */
@media (min-width: 992px) and (max-width:1199px) {
    .pull-right-md {
      float: right;
    }
}

/* lg */
@media (min-width: 1200px) {
    .pull-right-lg {
      float: right;
    }
}

.ng-cloak {
    display:none;
}

.col-industry {
    padding-right: 5px;
    padding-left: 5px;
}
