.ng-cloak {
    display:none;
}

.syndeps {
    font-size: inherit;
}

.tree {
    font-size: 20px;
    /*text-align: center;*/
    overflow-y: hidden;
    overflow-x: auto;
}

.word {
    fill: #70838d;
    cursor: default;
    text-shadow: none;
}
/*
.word.active {
    fill: #3276b1;
}
*/

.tag {
    fill: #777;
}

.edge {
    stroke: #ccc;
    stroke-width: 1.5;
}

.edge.active {
    stroke: #3276b1;
}

.arrow {
    fill: #ccc;
    stroke: #ccc;
    stroke-width: 1.5;
}

.arrow.active {
    stroke: #3276b1;
    fill: #3276b1;
}


.dependency {
    fill: #ccc;
    font-size: 18px;
}

.dependency.active {
    fill: #3276b1;
}